{% extends 'base.html' %}

{% block 'content' %}
  <div class="text-center">
    <h1>{{ title }}<h1>
    <h1>Hello, world!</h1>
  </div>
    <div class="row">
      <div class="col">
          <div class="col-sm-6 col-12">
              <form action="" method="POST">
                {% csrf_token %}
                  {{ form }}
                  {% comment %} <input type="text" class="form-control" placeholder="Name" name="fullname"></input>
                  <input type="email" class="form-control" placeholder="email" name="email"></input>
                  <textarea class="form-control" placeholder="your content" name="content"></textarea> {% endcomment %}
                  <button type="submit" class="btn btn-primary my-2">Submit</button>
              </form>
          </div>
    </div>
  </div>
{% endblock 'content' %}